@use './reset.scss';
@use './components/middleSection/middleSection.scss';
.App {
    // background: rgb(0, 36, 23);
    // background: linear-gradient(90deg, rgba(0, 36, 23, 1) 0%, rgba(9, 91, 72, 1) 17%, rgba(13, 98, 90, 1) 33%, rgba(10, 101, 103, 1) 54%, rgba(0, 212, 255, 1) 99%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}